[Unit]
Description=Ensure the web interface is internally accessible
StartLimitIntervalSec=600
StartLimitBurst=4
After=home.mount

[Service]
Environment=HOME=/home/root
Type=simple
Restart=always
User=root
ExecStart=/home/root/.local/bin/webinterface-persist-ip --run

[Install]
WantedBy=multi-user.target
